html,
body {
    height: 100%;
    background-image: url("https://img.freepik.com/free-vector/gradient-grainy-texture_23-2148981502.jpg?t=st=1714704872~exp=1714708472~hmac=67b09647813c253c7c651e60d9b9545d7ec81d61374dc5832be27ed37e762fe1&w=1380");
    background-size: cover;
}

.full-height {
    height: 100vh;
    /* 100% of the viewport height */
}

.center-vertically-horizontally {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.90);
    max-width: 1600px;
    margin: 0 auto 100px;
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}